@charset "utf-8";
/* CSS Document */

body {
	background-image: url(img/seamless_paper_texture.png);
	background-repeat: repeat;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#logo {
	margin-top:50px;
	margin-bottom: 30px;
}

.btn {
	margin-top: 30px;
}

.footer {
	margin-top: 70px;
	margin-bottom: 30px;
}